:root {
    --block-size: 50px;
    --block-border-size: 2px;
    --main-background: darkslategray;
    --main-border: black;
    --block-border: lightyellow;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main {
    height: 1050px;
    width: 50rem;
    background: var(--main-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.block, .land-block {
    border: var(--block-border-size) solid var(--block-border);
    width: var(--block-size);
    height: var(--block-size);
}

.land-block {
    position: absolute;
}