:root {
    --main-background: darkslategray;
    --main-border: black;
    --block-border: lightyellow;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main {
    height: 90vh;
    width: 60rem;
    border: 1px solid var(--main-border);
    padding: 2rem;
    background: var(--main-background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block {
    border: 1px solid var(--block-border);
    width: 4rem;
    height: 4rem;
}