:root {
    --main-width: 150px;
    --main-height: 1050px;
    --block-width: 50px;
    --block-height: 50px;
    --block-border-size: 2px;
    --main-background: darkslategray;
    --main-border: black;
    --block-border: lightyellow;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main {
    width: var(--main-width);
    height: var(--main-height);
    background: var(--main-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.block, [class^="land-block"] {
    border: var(--block-border-size) solid var(--block-border);
    width: var(--block-width);
    height: var(--block-height);
}

[class^="land-block"] {
    position: absolute;
}